<div class="container">
  <h2 class="page-header">Edit <%= @user.email %></h2>

  <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.input :role, collection: %w(agent customer) %>
    <%= f.button :submit, id: "edit-user-button", class: "btn btn-warning" %>
  <% end %>
</div>
