<div class="container">
  <div class="page-header">
    <h2>Tickets</h2>
  </div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Ticket</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr id="ticket-<%= ticket.id %>" data-link="<%= ticket_path(ticket) %>"
          class="<%= ticket_status_class(ticket) %>">
          <td><%= ticket.id %></td>
          <td><%= ticket.content %></td>
          <td><%= ticket.status.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
