<div class="container">
  <h2 class="page-header">Ticket <%= @ticket.id %></h2>
  <div>
    <p><%= @ticket.content %></p>
    <p><%= @ticket.status %></p>
  </div>

  <% if policy(@ticket).edit? %>
    <%= link_to "Edit Ticket", edit_ticket_path(@ticket),
      id: "edit-ticket-button", class: "btn btn-warning" %>
  <% end %>

  <% if policy(@ticket).destroy? %>
    <%= link_to "Delete Ticket", @ticket, id: "delete-ticket-button",
      class: "btn btn-danger", method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>

  <% if policy(@ticket).resolve? %>
    <%= link_to "Resolve", resolve_ticket_path(@ticket),
      id: 'resolve-ticket-button', class: "btn btn-success" %>
  <% end %>
</div>
