<!DOCTYPE html>
<html>
  <head>
    <title>CustomerSupportPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container">
      <% flash.each do |key, value| %>
        </br>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
